@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: "Inter", sans-serif;
  background: rgb(0, 0, 0);
}
*{
  margin: 0;
}
.container{
  max-width: 90%;
  margin: 3rem auto;
}

/* navbar styles */
header{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navitems{
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
  height: 36px;
  border-radius: 39px;
  gap: 40px;
  padding: 5px;
  margin: 0;
}
.navbar h3{
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
}
.navitems li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.navlink{
  text-decoration: none;
  padding: 5px;
  margin: 0;
}
.icon{
  display: none;
}
#home{
  border-radius: 46px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 600;
  height: 38px;
}
#service,
#contact,
#about{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  margin: 12px;
}
/* banner part starts here */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-heading{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 120%;
}
.span-heading{
  font-family: Miama;
  font-size: 4.5rem;
  font-weight: 400;
  font-style: italic;
}
.banner-title{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin-top: 28px;
}
.banner-child{
  max-width: 50%;
}
.btn-container{
  margin-top: 28px;
}
.btn-primary{
  border: none;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px;
}
.btn-secondary{
  background: none;
  border: 1px solid  rgb(255, 255, 255);
  border-radius: 42px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px;
  margin-left: 14px;
}
#child-2{
  position: relative;
}
#child-2 img{
  object-fit: cover;
}
.card-one{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 206px;
  height: 96px;
  position: absolute;
  top: 72%;
  right: 70%; 
}
.card-two{ 
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  width: 193px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 58%;
}
.icon-container{
  color: rgba(230, 83, 60, 1);
  background: white;
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.icon-container i{
 font-size: 20px;
}

.one{
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
}
.two{
  color: rgba(239, 237, 232, 0.65);
  font-size: 16px;
  font-weight: 400;
}
.two-one{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
}
.two-two{
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
}

/* habit section */

.habit-title{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.habit-para{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 14px;
}

.image-heading{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  
}
.card-para{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin-top: 14px;
  text-align: center;
}
.image{
  border-radius: 50%;
}
.image-container{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
}
.image-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-card-details{
  margin-top: 30px;
}

/* running section */

.running-section{
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 30px 0;
}
.running-content{
  max-width: 60%;
}
.running-image{
  max-width: 35%;
}
.running-image img{
  max-width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: none;
  object-position: 66% 32%;
  
} 
.running-container{
  display: flex;
  justify-content: space-between;
  gap: 150px;
  margin: 0 30px 0 50px;
}
.running-title{
text-align: left;
margin-top: 10px;
}
.running-para{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-top: 14px;
  margin-bottom: 34px;
}
.running-image img{
  max-width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: none;
  object-position: 66% 31%;
} 
.second-button{
  margin-bottom: 10px;
}

/* calculator part */

.calculator{
  background-color: rgb(34, 34, 34);
  min-height: 400px;
  padding: 52px 0;
}
.calculator-heading{
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 14px;
}
.calculator-para{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.bmi-heading{
  margin: 5rem 300px;
}
.calculator-container{
  display: flex;
  justify-content: space-between;
}
.calculator-chart{
  max-width: 35%;
}
.calculator-input{
  max-width: 60%;
}
.calculator-chart h4,
.calculator-input h4{
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  text-align: left;
}
th,td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 18px;
  text-align: left;
}
table{
  border-collapse: collapse;
  margin-top: 52px;
}
th{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}
td{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}
.bmi-calculator-para{
  margin-top: 14px;
}
.form-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 34px;
  gap: 14px;
}
.form-field{
  width: 48%;
  box-sizing: border-box;
}
.text-area{
  width: 100%;
}
.form-container input,select{
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 20px;
  border: none;
}
.form-container
input::placeholder,
select:invalid{
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  
}
.form-container input,select{
  font-weight: 400;
}
select{
  border-right: 20px solid transparent;
}
option{
  color: black;
}
.bma-btn{
  margin-top: 34px;
}

/* team members */

.team-heading{
  margin: 80px auto 50px auto;
}
.team-members{
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  min-height: 782px;
 
}
#trainer-1{
  background-image: url(../images/trainer1.png);
  margin: 20px 20px 0 20px; 
}
#trainer-2{
  background-image: url(../images/trainer2.png);
  margin: 20px 20px 0 0; 
}
#trainer-3{
  background-image: url(../images/trainer3.png);
  margin: 20px 20px 0 0; 
}
#trainer-4{
  background-image: url(../images/trainer4.png);
  margin: 20px 20px 20px 20px; 
}
#trainer-5{
  background-image: url(../images/trainer5.png);
  margin: 20px 20px 20px 0; 
}
#trainer-6{
  background-image: url(../images/trainer6.png);
  margin: 20px 20px 20px 0; 
}
.team-member{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  position: relative;
}
.trainer-name{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 900;
}
.trainer{
  color: rgba(255, 255, 255,0.5);
  font-size: 1rem;
  font-weight: 400;
}
.member-name{
  position: absolute; 
  top: 80%;
  left: 5%;
}

/* class part */
.excercise{
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px 20px;

}
.excercise-image{
  max-width: 50%;
}
.excercise-description{
  max-width: 50%;
}
.excercise-image img{
  max-width: 100%;
  border-radius: 18px;
  object-fit: cover;
}
.number{
  color:  rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 800;
  font-style: italic;
}
.training-name{
  color: rgba(230, 83, 60, 1);
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
}
.about-training{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-top: 20px;
}
#excercise-2{
 background-color: rgba(72, 71, 71, 0.174);
}
.cls-btn{
  margin-top: 20px;
}






/* responsive part */


@media screen and (max-width:576px) {
  .container{
    margin: 1.5rem 20px;
  }
  .banner,
  .image-container,
  .running-container,
  .calculator-container{
    flex-direction: column;
  }
  /* navbar styles */
  .navitems{
    display: none;
  }
  .icon{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
  /* banner styles */
  .banner-child{
    max-width: 100%;
  }
  .banner-heading{
    font-size: 2.25rem;
  }
  .span-heading{
    font-size: 2.25rem;
  }
  .btn-primary,.btn-secondary{
    font-size: 14px;
    padding: 14px;
  }
  .card-one{
    width: 155px;
    height: 72px;
    top: 45%;
    right: 45%;
  }
  .card-two{
    width: 140px;
    height: 74px;
    top: 48px;
    left: 182px;
  }
  .one{
    font-size: 18px;
  }
  .two{
    font-size: 12px;
  }
  .two-one{
    font-size: 1.5rem;
  }
  .two-two{
    font-size: 10px;
  }
  /* habits section */
  .habit-title{
    font-size: 2rem;
  }
  /* running-part */
  .running-container{
    gap: 10px;
    margin: 0 30px;
  }
  .running-content{
    max-width: 100%;
  }
  .running-image{
    max-width: 100%;
  }
  .running-image img{
    max-width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: 66% 29%;
  } 
  .second-button{
   padding: 16px 40px;
   font-size: 18px;
   width: 100%;
  }
  
  /* bmi calculator */
  .bmi-heading{
    margin: 1.5rem 1.25rem;
  }
  .calculator-chart{
    max-width: 100%;
  }
  .calculator-input{
    max-width: 100%;
  }

  .form-field{
    width: 47%;
  }
  .calculator{
    padding: 30px 0;
  }
  .calculator-input{
    margin-top: 1.5rem;
  }
  .bma-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
  }
  /*  trainers part  */
  .team-members{
    grid-template-columns: repeat(1,1fr);
    min-height: 1200px;
  }
  .team-member{
    background-size: cover;
    margin: 20px 20px 0 20px !important;
    height:300px;
    width: 90%;
  }
  #trainer-6{
    margin-bottom: 20px !important;
  }
  .team-heading{
    margin: 30px 20px;
  }
  .team-member-heading{
    font-size: 2rem;
  }
  /* class part */
  .excercise-image{
    max-width: 100%;
  }
  .excercise-description{
    max-width: 100%;
  }
  .ex-title{
    font-size: 32px;
    margin: 0 10px;
  }
  .number{
    font-size: 3rem;
  }
  .training-name{
    font-size: 2.5rem;
  }
  #exercise-1,
  #exercise-3{
    flex-direction: column;
  }
  #exercise-2{
    flex-direction: column-reverse;
  }
  .cls-btn{
    width: 100%;
  }
}